* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  font-family: 'Montserrat', sans-serif;
line-height: 1.6;
  padding:0 5vh;
margin: 0;
min-height: 100vh;
}

.logo, h1{
  font-family: 'Cinzel', serif;
}
nav {  
  padding-top: 2vh;
  background:white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
margin: 0;  
  letter-spacing: 0em;  
}
.logo>a{
  text-decoration:none; 
  color:inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.item > a {
  text-decoration: none;
  color: #34495e;
}
li.item > a:hover {
  color: #718daa;
}
.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 2.1em;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile default*/
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}
h1{
  font-size:3em;
  white-space: nowrap;
}
h2{
  font-size:1.4em;
}
h3,.about-item>p{
  font-size:clamp(1rem,1.28vw,1.35vw);

}
#wide{
  letter-spacing: 0.25em;
  transition:all,ease,0.04s;
}
.no-decor{
  text-decoration: none;
}


/*Tablet Size*/
@media all and (min-width: 900px) {
  body{
      padding:0 10vh;
  }
  #wide{
    letter-spacing: 0.5em;
  }
  h1{
    font-size:4.3em;
    white-space: nowrap;
  }
  h2{
    font-size:2em;
  }
}

/* Desktop size */
@media all and (min-width: 900px) {
  body{
      padding:0 15vh;
  }
  .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }
  h1{
    font-size:4.3em;
    white-space: nowrap;
  }
  h2{
    font-size:2em;
  }
}


/*main content*/
.main{
  position:relative;
}
#main-pic{
  max-width: 100%;
  opacity:0.9;
}
@media all and (min-width: 1454px) {
  #main-pic{
    background-size:cover;
    width:100%;
    height:auto;
     }
}
.on-text{
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index=30;
  color:rgb(242, 243, 224);
  text-align:center;
}

  
hr{
  border-top: 1px solid rgb(242, 243, 224);
  opacity:85%;
  width: 30%;
  margin:auto;
  margin-bottom:4em;
  margin-top:4em;
}
.btn {
  position:relative;
  -webkit-box-shadow: 0px 1px 4px #666666;
  -moz-box-shadow: 0px 1px 4px #666666;
  box-shadow: 0px 1px 4px #666666;
  font-size: 1.1em;
  width: fit-content;
  padding: 8px 30px 8px 30px;
  border: solid rgb(242, 243, 224) 1px;
  color:rgb(242, 243, 224);
  text-decoration: none;
  left:50%;
  bottom:10%;
  transform:translate(-50%,100%);
  transition: var(--trans1,border-color 0.5s ease 0s,background-color 0.4s ease 0s);
}

.btn:hover {
  background: #42290f;
  background-image: linear-gradient(to bottom, #37240f, #2d210c);
  text-decoration: none;
}

/*portfolio*/
.header-mid{
text-align: center;
padding:2.5vh 0vh 6vh 0vh;
}
.grid-col img{margin-bottom: -6px; 
    opacity: 1; 
    cursor: pointer;
}
.grid-col img:hover{opacity: 0.6;}


.ZZ-content,.ZZ-auto{margin-left:auto;margin-right:auto}
.ZZ-content{max-width:980px}.ZZ-auto{max-width:1140px}
.grid-row:after,.grid-row:before,.grid-row-padding:after,.grid-row-padding:before,
.ZZ-cell-row:before,.ZZ-cell-row:after,.ZZ-clear:after,.ZZ-clear:before,.ZZ-bar:before,.ZZ-bar:after{content:"";display:table;clear:both}
.grid-col,.ZZ-twothird,.ZZ-threequarter,.ZZ-quarter{float:left;width:100%}
@media (min-width:601px){.grid-col{width:33.33333%}}
.ZZ-modal{z-index:200;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
  .ZZ-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
  @media (max-width:600px){.ZZ-modal-content{margin:0 10px;width:auto}.ZZ-modal{padding-top:30px}}
  @media (max-width:768px){.ZZ-modal-content{width:500px}.ZZ-modal{padding-top:50px}}
  @media (min-width:993px){.ZZ-modal-content{width:900px}.ZZ-hide-large{display:none }}
  .ZZ-black,.ZZ-hover-black:hover{color:#fff ;background-color:#000 }
  .ZZ-btn,.ZZ-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
  .ZZ-button:hover{color:#000 ;background-color:#ccc }
  .ZZ-xlarge{font-size:24px }
  .ZZ-display-topright{position:absolute;right:0;top:0}
  .ZZ-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
  .ZZ-transparent,.ZZ-hover-none:hover{background-color:transparent }
  .ZZ-padding-64{padding-top:64px ;padding-bottom:64px }
  .ZZ-image{max-width:100%;height:auto}
#img01{
  margin:auto;
}
  
/*About */
.about-main{
  display: flex;
  flex-direction: row;
}
.about-item>img{
  width: 100%;
  display: block;
}
.about-item{
  flex:0 0 50%;
  background:rgb(233, 232, 232)
}
.about-text{
  padding:10vh 10vh;
  padding-bottom:0px;
  
}

/*Contact*/
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
{
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

/*
FOOTER
*/
.footer{
  text-align:center;
  font-size:0.9em;
  margin-bottom:5vh;
}
/* Footer social */
.ft-social {
  padding: 0 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
